<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Our Customers</a>
        <a href="/suppliers">Our Suppliers</a>
        <a href="/loyalty-tiers">Loyalty Tiers</a>
        <a href="/products">Product Catalog</a>
        <a href="/cust-orders">Customer Orders</a>
        <a href="/purch-orders">Purchase Orders</a>
        <a href="/prod-purchases">Product Purchases</a>
        <button onclick="location.href='/reset-db'">RESET DB</button>
    </nav>

    {{{body}}}

</body>
</html>