{{!
****

Citations:
    
Adapted starter code from Web Application Technology Canvas exploration
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948

****
}}

<h1>Home page</h1>
<div class="homepageDescription">
    <h2>Equal Steakholders DBMS (beta)</h2>
    <p><strong>Group 105: Julio Diaz III and Praj Iyer</strong></p>
    <p>Welcome to the Equal Steakholders DBMS open beta! Please see our <a href="/cust-orders" style="margin-left: 0;">Customer Orders</a> page to fully test our CRUD functionality.</p>
</div>